*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
.header_contents{
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 50px;
    z-index: 1000;
}
.header_logo-container{
    display: flex;
    align-items: center;
}
.header_logo-container:hover{
    cursor: pointer;
    color: #ff3131;
    transition: color .3s ease;
}
.header_logo-img-cont{
    display: flex;
    height: 55px;
    width: 55px;
    cursor: pointer;
}
.header_logo-img{
    width: 100%;
    height: 100%;
}
.header_logo-name{
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
}
.header_navigation{
    width: 47%;
}
.header_links{
    display: flex;
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: large;
    width: 0;
}
.header_link{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding: 27px 33px 27px 33px;
}
.header_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    background-color: #ff3131; 
}
.header_link:hover{
    color: #ff3131;
    transition: color .3s ease;
}
.header_link:hover::after{
    width: 100%;
}
.home_section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#cdffd8, #94b9ff);
    padding-top: 90px;
    background-attachment: fixed;
}
.my_socials{
    height: 22.5rem;
    width: 5.2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.social{
    width: 4rem;
}
.social_icon-link{
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 50%;
}
.social_icon-link:hover{
    background-color: #FFC4C4;
    transition: .3s ease;
}
.social_icon{
    width: 100%;
}
.home_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_heading{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}
.home_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    width: 100%;
}
.home_projects-btn{
    width: 0;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer
}
.btn{
    background: #ff3131;
    color: white;
    border-radius: 50px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: .3s ease;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}
.btn:hover{
    transform: translateY(-2.5px) scale(1.05);
    background: #e60000;
}
.btn-projects{
    padding: 10px 60px;
}
.about_section{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cdffd8, #94b9ff);
    background-attachment: fixed;
}
.about_intro{
    margin-bottom: 25px;
}
.about_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.about_heading::after{
    content: '';
    display: block;
    width: 7.5%;
    height: 5px;
    border-radius: 50px;
    background-color: #ff3131;
    margin-top: 20px;
}
.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.about_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.about_left-column{
    width: 60%;
    padding-right: 50px;
}
.about_content-title{
    font-family: "Oswald", sans-serif;
    color: #ff3131;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.about_content-paragraphs{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.about_contact-btn{
    width: 0;
    margin-top: 40px;
    display: flex;
    justify-content: start;
    cursor: pointer;
}
.about_right-column{
    width: 35%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skills_skill{
    background-color: #F0FFFF;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-contact{
    padding: 10px 60px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}
.projects_section{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cdffd8, #94b9ff);
}
.projects_intro{
    margin-bottom: 25px;
}
.projects_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.projects_heading::after{
    content: '';
    display: block;
    width: 7.5%;
    height: 5px;
    border-radius: 50px;
    background-color: #ff3131;
    margin-top: 20px;
}
.projects_text{
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}
.projects_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-start;
}
.projects_left-column{
    width: 60%;
    padding-right: 50px;
}
.projects_right-column{
    width: 35%;
}
.resume_section{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cdffd8, #94b9ff);
}
.contact_section{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cdffd8, #94b9ff);
}
.footer_contents{
    height: 250px;
    width: 100%;
    background-color: #ff3131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

